@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>редактирование id=@ViewBag.Id</title>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/components/vueErrorAborder.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vueError.css" />
</head>
<body>
    <div id="app">
        <table border="1">
            <tr>
                <td>Customer</td>
                <td>
                    <select v-model="order.CustomerID" class="input">
                        <option v-for="customer in AvaialbeCustomers"
                                :v-key="customer.Id"
                                v-bind:value="customer.Id">
                            {{customer.Name}}
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Freight</td>
                <td>
                    <error-aborder v-bind:error="errors.Freight">
                        <input type="number" v-model="order.Freight" class="input" />
                    </error-aborder>
                </td>
            </tr>
            <tr>
                <td>ShipCountry</td>
                <td>
                    <select v-model="order.ShipCountry" class="input">
                        <option v-for="item in AvaialbeCountrys" :v-key="item">{{item}} </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>ShipCity</td>
                <td>
                    <error-aborder v-bind:error="errors.ShipCity">
                        <select v-model="order.ShipCity"  class="input">
                            <option v-for="city in AvaialbeCitys" :v-key="city">{{city}} </option>
                        </select>
                    </error-aborder>
                </td>
            </tr>
          <tr>
                    <td>Адрес корабля</td>
                    <td>
                        <error-aborder v-bind:error="errors.ShipAddress">
                             <input type="text" v-model="order.ShipAddress" class="input"/>
                        </error-aborder>
                    </td>
                </tr>
            <tr>
                <td>OrderDate</td>
                <td>
                    <input type="datetime-local" v-model="order.OrderDate" :disabled="true" class="input" />
                    <p class="tooltiptext" v-if="errors.OrderDate!=''">{{errors.OrderDate}}</p>
                </td>
            </tr>
            <tr>
                <td> </td>
                <td>
                    <button v-on:click="Save()" :disabled="IsChanged===false || hasError " class="alignRight">Save</button>
                </td>
            </tr>
        </table>

    </div>
      
    <script>
        var abortController = new AbortController();
        var validationCounter = 0;



    new Vue({
        el: "#app",

        data: {
            id: @ViewBag.Id,
            selected: '',
            order: {
                OrderID: 0,
                CustomerID: 0,
                EmployeeID: 0,
                OrderDate: "",
                RequiredDate: "",
                ShippedDate: "",
                ShipVia: 0,
                Freight: 0,
                ShipName: "",
                ShipAddress: "",
                ShipCity: "",
                ShipRegion: "",
                ShipPostalCode: "",
                ShipCountry: ""
            },
            oldOrder: {
                ShipCountry: ""
            },
            errors: {
                OrderID: null,
                CustomerID: null,
                EmployeeID: null,
                OrderDate: null,
                RequiredDate: null,
                ShippedDate: null,
                ShipVia: null,
                Freight: null,
                ShipName: null,
                ShipAddress: null,
                ShipCity: null,
                ShipRegion: null,
                ShipPostalCode: null,
                ShipCountry: null
            },
            IsChanged: false,
            AvaialbeCustomers: [],
            AvaialbeCitys: [],
            AvaialbeRegions: [],
            AvaialbeCountrys: []
        },
        computed :
        {
            hasError: function () {
                for (var err in  this.errors) {
                    var error = this.errors[err];
                    if (error !== '' || null) return true;
                }
                return false;
            }
        },
        methods: {
            fetchOrder() {
                var path = "../Orders/GetById?Id=" + this.id;
                this.fetchJson(path,json => this.order = json);
            },

            fetchCityList() {
                //Avaiable city depended on  country
                var country = this.order.ShipCountry;
                if (country == null || country === "") {
                    country = '';
                }
                var path = "../Orders/AvaiableCityList?country=" + country;
                this.fetchJson(path, json => {this.AvaialbeCitys = json;});
            },

            fetchCountrys() {
                var path = "../Orders/AvaiableCountrys";
                this.fetchJson(path,jsonResult => {this.AvaialbeCountrys = jsonResult;});
            },

            fetchAvaialbeCustomers() {
                var path = "../Orders/AvaialbeCustomers";
                this.fetchJson(path,jsonResult => {this.AvaialbeCustomers = jsonResult;});
            },

            Validate() {
                validationCounter++;//увеличиваю счетчик валидации, что бы предыдущая валидация не отработала
               var counter = validationCounter;//создаю копию переменнной
               var action= this.Action;//так как я не могу использовать this локальной фнукции создавать ссылку на функцию
                setTimeout(function () {dalayedValidate(counter);},500);//вызываю валидацию с задержкой ()
            
           function dalayedValidate(сounter) {
                if (validationCounter !== сounter)//если счетчик валидаций изменился за время задержки валидации, то эту валидацию надо прервать
                {
                    return;
                }
                console.log("Validate");
                    abortController.abort();//прервать предыдущую валидацию если она успела начаться
                    abortController = new AbortController();//создаю новый контроллер валидации
                    action("Validate",abortController.signal);//перадаю сигнал позволяющий "убить" ПРЕДЫДУЩИЙ фетч
            }
            },
            Save() {
                abortController.abort();//прервать предыдущую валидацию
                this.Action("Save");
            },
            Action(action,signal) {
                var myJSON = JSON.stringify(this.order);
                var path = "../Orders/" + action + "?id=" + this.id + "&json=" + myJSON;
                this.fetchJson(path, jsonResult => {
                    this.errors = jsonResult.Errors;
                    this.IsChanged = jsonResult.IsChanged;
                },signal);
            },
            fetchJson(path, collback,signal) {
                try {
                    fetch(path, { mode: 'cors', signal:signal })
                        .then(response => response.json())
                        .then(function(json) {
                                collback(json);
                      }
                        );
                } catch (ex) {
                    alert(ex);
                }
            },
            setValue:function(){
                this.oldOrder.ShipCountry = this.order.ShipCountry;
            }
        },
        watch: {
            order: {
                handler: function (after, before) {
                    this.IsChanged = true;
                    if (this.oldOrder.ShipCountry !== after.ShipCountry) {
                        this.fetchCityList();
                    }
                    this.setValue();
                    this.Validate();
                },
                deep: true
            }
        },
        mounted: function() {
            this.fetchOrder();
            this.setValue();
            this.fetchCountrys();
            this.fetchAvaialbeCustomers();
        }
    });
    </script>
</body>
</html>
