@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>

<html>
<head>
    <title>Data grid example</title>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.2/jszip.min.js"></script>-->
    <script src="~/Scripts/zip.js"></script>
    <script src="~/Scripts/iqery.min.js"></script>
    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/Scripts/dx.aspnet.data.js"></script>
    <script src="~/js/data.js"></script>
    <script src="~/js/code2.js"></script>
    <script src="~/js/filter.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/dx.common.css" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/grey.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/dx.light.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/modal.CSS" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/draggable-resizable-dialog.css" />
</head>
<script>



    function FilterStatus(status) {
        var dataGrid = $('#grid').dxDataGrid('instance');
        var filter = ["ShipCountry", "=", status];
        dataGrid.filter(filter);
        dataGrid.refresh();
        console.time("x");
    }
    var filterInit = false;

    function HideFilter() {
        var modal = document.getElementById('filterPopup');
        modal.style.display = "none";
    }

    function ShowFilter() {
        if (filterInit == false) {
            filterInit = true;
            CreateFilter("filter", colunmDescription);
        }
        var modal = document.getElementById('filterPopup');
        modal.style.display = "block";

    }
    function Edit() {
        var dataGridInstance = $("#grid").dxDataGrid("instance");
        var selected = dataGridInstance.getSelectedRowKeys();
        var path = "http://" + document.location.host + '/Orders/Edit?id=' + selected[0];
        window.open(path);
    }
</script>
<body>
    <div class="modal" id="filterPopup">
        <!--Здесь будет фильтр-->
        <div class="modal-content">
            <div class="modal-header">
                header <span id="closeButton" align="right" class="modal-close" onclick="HideFilter()">X</span>
            </div>
            <div id="filter" style="background-color:lightblue"></div>
        </div>
    </div>
    <br />
    <button onclick="ShowFilter()">CreateFilter</button>

    <button onclick='FilterStatus("Switzerland")'>Switzerland</button>
    <button onclick='FilterStatus("Belgium")'>Belgium</button>
    <button onclick='FilterStatus("Brazil")'>Brazil</button>
    <button onclick='FilterStatus("Germany")'>Germany</button>

    <button onclick="FilterClear()">FilterClear</button>
    <button onclick="Edit()">редактировать</button>
    <button id="show-dialog" onclick="_showDialog();">Show Dialog</button></p>
    <p id="dialog-status">Dialog hidden...</p>
    <p class="">To move, start dragging from the title bar of the dialog box.</p>
    <p class="">To resize, start dragging from any edge or any corner of the dialog box.</p>
    <select>
        <option>sss</option>
        <option>sasS</option>
        <option>ssaaaaaaaaaaaas</option>
        <option>sassdASDaS</option>
    </select>
    <br />


    <div id="grid">
    </div>
    <div id="dialog-hider"  class="hider"></div>
    <div class="dialog" style="width:480px; height:240px;">
        <div class="titlebar">Pfujkjdfjr af Заголовок диалогового окна</div>
        <button>Close</button>
        <div class="content">
            <p>тело диалогового окна </p>
        </div>
        <div class="buttonpane">
            <div class="buttonset">
                <button>OK</button>
                <button>Cancel</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/draggable-resizable-dialog.js"></script>


</body>

</html>
