@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>

<html>
<head>
    <title>Data grid example</title>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.2/jszip.min.js"></script>-->
    <script src="~/Scripts/zip.js"></script>
    <script src="~/Scripts/iqery.min.js"></script>
    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/Scripts/dx.aspnet.data.js"></script>
    <script src="~/js/data.js"></script>
    <script src="~/js/code2.js"></script>
    <script src="~/js/filter.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/dx.common.css" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/grey.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/dx.light.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/modal.CSS" />
</head>
<script>



    function FilterStatus(status) {
        var dataGrid = $('#grid').dxDataGrid('instance');
        var filter = ["ShipCountry", "=", status];
        dataGrid.filter(filter);
        dataGrid.refresh();
        console.time("x");
    }
    var filterInit = false;

    function HideFilter() {
        var modal = document.getElementById('filterPopup');
        modal.style.display = "none";
    }

    function ShowFilter() {
        if (filterInit == false) {
            filterInit = true;
            CreateFilter("filter", colunmDescription);
        }
        var modal = document.getElementById('filterPopup');
        modal.style.display = "block";

    }
    function Edit() {
        var dataGridInstance = $("#grid").dxDataGrid("instance");
        var selected = dataGridInstance.getSelectedRowKeys();
        var path = "http://" + document.location.host + '/Orders/Edit?id=' + selected[0];
        window.open(path);
    }
</script>
<body>
    <div class="modal" id="filterPopup">
        <!--Здесь будет фильтр-->
        <div class="modal-content">
            <div class="modal-header">
                header <span id="closeButton" align="right" class="modal-close" onclick="HideFilter()">X</span>
            </div>
            <div id="filter" style="background-color:lightblue"></div>
        </div>
    </div>
    <br />
    <button onclick="ShowFilter()">CreateFilter</button>

    <button onclick='FilterStatus("Switzerland")'>Switzerland</button>
    <button onclick='FilterStatus("Belgium")'>Belgium</button>
    <button onclick='FilterStatus("Brazil")'>Brazil</button>
    <button onclick='FilterStatus("Germany")'>Germany</button>

    <button onclick="FilterClear()">FilterClear</button>
    <button onclick="Edit()">редактировать</button>
    <br />

   
    <div id="grid">
        </div>

</body>

</html>
