@inherits System.Web.Mvc.WebViewPage

<!DOCTYPE html>
<html>
<head>
</head>
<script src="~/Scripts/vue.js"></script>
<style>
    html, body, #app {
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: #343338;
        font-family: Roboto, Tahoma, sans-serif;
    }

    .logo {
        height: 100px;
    }

    .instructions {
        color: white;
        display: block;
        font-size: 25px;
    }

    .context-menu {
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        display: none;
        list-style: none;
        position: absolute;
        z-index: 2147483647;
        background-color: white;
        border: 1px solid #ebebeb;
        border-bottom-width: 0px;
    }

        #context-menu.active {
            display: block;
        }

        #context-menu.animationOn {
            animation-name: opacityOn;
            animation-duration: 4s;
        }

    @@keyframes opacityOn {
        from {
            opacity: 0;
        }

        to {
            opacity: 100;
        }
    }

    #context-menu.animationOff {
        animation-name: opacityOf;
        animation-duration: 4s;
    }

    @@keyframes opacityOf {
        from {
            opacity: 100;
        }

        to {
            opacity: 0;
        }
    }

    .context-menu-icon {
        top: 1px;
        position: relative;
        margin-right: 10px;
    }

    .context-menu-item {
        display: flex;
        cursor: pointer;
        padding: 8px 15px;
        align-items: center;
        border-bottom: 1px solid #ebebeb;
    }
        .context-menu-item:hover {
            background-color: #ebebeb;
        }
</style>
<template id="template-context-menu-item">
    <li class="context-menu-item">
        <slot></slot>
    </li>
</template>

<template id="template-context-menu">
    <ul class="context-menu">
        <context-menu-item v-on:click="newRegister()">
            <img class="context-menu-icon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NS40IDQ1LjQiPjxwYXRoIGZpbGw9IiNmOTY5MGUiIGQ9Ik00MS4zIDE4LjZIMjYuOFY0YzAtMi0xLjgtNC00LTQtMi40IDAtNC4yIDItNC4yIDR2MTQuNkg0Yy0yIDAtNCAxLjgtNCA0IDAgMS4yLjUgMi4zIDEuMiAzIC44LjggMS44IDEuMyAzIDEuM2gxNC40djE0LjNjMCAxIC40IDIgMS4yIDMgLjcuNiAxLjggMSAzIDEgMi4yIDAgNC0xLjcgNC00VjI3aDE0LjVjMi4zIDAgNC0yIDQtNC4zcy0xLjgtNC00LTR6Ii8+PC9zdmc+" width="12">
            New register
        </context-menu-item>
        <context-menu-item v-on:click="remove()">
            <img class="context-menu-icon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMzkuMiAzMzkuMiI+PHBhdGggZmlsbD0iI2Y5NjkwZSIgZD0iTTI0Ny4yIDE2OS42bDg0LTg0YzUuMy01LjMgOC0xMS43IDgtMTkuNCAwLTcuNi0yLjctMTQtOC0xOS40TDI5Mi40IDhDMjg3IDIuNyAyODAuNiAwIDI3MyAwYy03LjcgMC0xNCAyLjctMTkuNSA4bC04NCA4NEw4NS44IDhDODAuMyAyLjcgNzQgMCA2Ni4yIDBjLTcuNiAwLTE0IDIuNy0xOS40IDhMOCA0Ni44Yy01LjMgNS40LTggMTEuOC04IDE5LjQgMCA3LjcgMi43IDE0IDggMTkuNWw4NCA4NC04NCA4My44QzIuNyAyNTkgMCAyNjUuMyAwIDI3M2MwIDcuNiAyLjcgMTQgOCAxOS40bDM4LjggMzguOGM1LjQgNS4zIDExLjggOCAxOS40IDggNy43IDAgMTQtMi43IDE5LjUtOGw4NC04NCA4My44IDg0YzUuNCA1LjMgMTEuOCA4IDE5LjUgOCA3LjYgMCAxNC0yLjcgMTkuNC04bDM4LjgtMzguOGM1LjMtNS40IDgtMTEuOCA4LTE5LjUgMC03LjctMi43LTE0LTgtMTkuNWwtODQtODR6Ii8+PC9zdmc+" width="10">
            Remove
        </context-menu-item>
        <context-menu-item v-on:click="edit()">
            <img class="context-menu-icon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MjguOSA1MjguOSI+PHBhdGggZmlsbD0iI2Y5NjkwZSIgZD0iTTMyOSA4OWwxMDcuNSAxMDcuN0wxNjQgNDY5IDU2LjcgMzYxLjYgMzI5IDg5em0xODktMjUuOGwtNDgtNDhjLTE4LjQtMTguNS00OC41LTE4LjUtNjcgMGwtNDYgNDYgMTA3LjUgMTA3LjVMNTE4IDExNWMxNC41LTE0LjIgMTQuNS0zNy40IDAtNTEuOHpNLjQgNTEyLjdjLTIgOC44IDYgMTYuNyAxNC44IDE0LjZsMTIwLTI5TDI3LjUgMzkwLjUuMyA1MTIuNnoiLz48L3N2Zz4=" width="12">
            Edit
        </context-menu-item>
    </ul>
</template>
<body>
    <div id="app" v-on:click="hideContextMenu()" v-on:contextmenu.prevent="showContextMenu($event)">
        <div>
            <img class="logo" src="https://vuejs.org/images/logo.png">
            <h1 class="instructions">Click with right-button on body</h1>
        </div>
        <context-menu />
    </div>
    <script>
        // register context-menu-item
        Vue.component('context-menu-item', {
            template: '#template-context-menu-item',
            props: {
                icon: ''
            }
        });

        // register context-menu
        Vue.component('context-menu', {
            template: '#template-context-menu',
            props: {
                icon: ''
            },
            methods: {
                newRegister: () => {
                    alert('New register');
                },
                remove: () => {
                    alert('Remove');
                },
                edit: () => {
                    alert('Edit');
                }
            }
        });

        // start app
        var vm = new Vue({
            el: '#app',
            data: {
                contextMenuWidth: null,
                contextMenuHeight: null
            },
            methods: {
                showContextMenu: (event) => {
                    var menu = document.getElementsByClassName("context-menu")[0];
                    if (!this.contextMenuWidth || !this.contextMenuHeight) {
                        menu.style.visibility = "hidden";
                        menu.style.display = "block";
                        this.contextMenuWidth = menu.offsetWidth;
                        this.contextMenuHeight = menu.offsetHeight;
                        menu.removeAttribute("style");
                    }
                    console.log(event);
                    if ((this.contextMenuWidth + event.pageX) >= window.innerWidth) {
                        menu.style.left = (event.pageX - this.contextMenuWidth) + "px";
                    } else {
                        menu.style.left = event.pageX + "px";
                    }

                    if ((this.contextMenuHeight + event.pageY) >= window.innerHeight) {
                        menu.style.top = (event.pageY - this.contextMenuHeight) + "px";
                    } else {
                        menu.style.top = event.pageY + "px";
                    }

                    menu.classList.add('active');
                    menu.classList.add('animationOn');
                    setTimeout(menu.classList.remove('animationOn'), 4000);

                },
                hideContextMenu: () => {
                    var menu = document.getElementsByClassName("context-menu")[0];
                    menu.classList.add('animationOff');
                    setTimeout(menu.classList.remove('active'), 4000);
                    setTimeout(menu.classList.remove('animationOff'), 4000);

                }
            }
        });
    </script>
</body>
</html>