<h1>Vue try</h1>
<div id="app">
    <button v-on:click="fetchBook">fetchBook</button>
    <select multiple v-model="selected">
        <option v-for="(phone,i) in phones" :value="phone">
            <li> {{i}}: {{phone.title}}-{{phone.company}}</li>
        </option>
    </select>
    <select multiple>
        <option v-for="(phone,i) in selected" >
            <li> {{i}}: {{phone.title}}-{{phone.company}}</li>
        </option>
    </select>
    <span>Выбрано:{{selected}}</span>
</div>
<script src="https://unpkg.com/vue"></script>
<script>

    new Vue({
        el: "#app",
        data: {
            selected: [],
            phones: [
                { title: 'iPhone 7', company: 'Apple' },
                { title: 'iPhone 6S', company: 'Apple' },
                { title: 'Galaxy S8', company: 'Samsung' },
                { title: 'Galaxy S7 Edge', company: 'Samsung' },
                { title: 'Nokia N8', company: 'HMD Global' }]
        },
        methods: {

            beforeMount: function () {
                fetchBook();
            },
            fetchBook() {
                fetch(`http://localhost:64210/Home/data`, { mode: 'cors' })
                    .then(response => response.json())
                    .then(json => this.phones = json)

                    
            }
        }
    ,
        mounted: function () {
            this.fetchBook();
        }
})
</script>
