<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="../Scripts/iqery.min.js"></script>
    <script src="../Scripts/dx.all.js"></script>
    <script src="../Scripts/dx.aspnet.data.js"></script>
    <script src="../js/code.js"></script>
    <link rel="stylesheet" type="text/css" href="../Content/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="../Content/dx.greenmist.css" />
</head>
<script>
    function selRow()
    {
        var dataGrid = $('#grid').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
        var res = '';
        for (i = 0; i < selectedRows.length; i++) { res += selectedRows[i]['OrderID']+',' } 
        alert(res);
    }
    function Filter1() {
        var dataGrid = $('#grid').dxDataGrid('instance');
        dataGrid.filter([["OrderID", ">", "400"], "and", ["OrderID", '<', "10250"]]);

    }
    function Filter2() {
        var dataGrid = $('#grid').dxDataGrid('instance');
        dataGrid.filter([["OrderID", ">", "10250"], "and", ["OrderID", '<', "10500"]]);

    }
    function Filter3() {
        var dataGrid = $('#grid').dxDataGrid('instance');
        dataGrid.filter([["OrderID", ">", "10500"], "and", ["OrderID", '<', "11000"]]);

    }
    function Filter4() {
        var dataGrid = $('#grid').dxDataGrid('instance');
        dataGrid.filter([["OrderID", ">", "11000"], "and", ["OrderID", '<', "10500"]]);
        var filter = dataGrid.getCombinedFilter();
        var strF = ff(filter);
        
        $('#inpID').val(strF);
    }
    function ff(filter)
    {
        var strF = '';
        for (i = 0; i < filter.length; i++) {
            if ($.isArray(filter[i])) {
                strF + ff(filter[i])
            }
            else {
                strF += filter[i];
            }
        }
        return strF;
    }
    

    function FilterClear() {
        var dataGrid = $('#grid').dxDataGrid('instance');
       
        dataGrid.clearFilter();

    }

</script>
<body>
    <span>Header</span>
    <div class="right-side" style="color:aqua">
        <div id="selectStatus"></div>
    </div>
    <div class="right-side" style="color:aqua">
        <input id="inpID"></input>
    </div>
    <div class="right-side" style="color:green">
        <div id="buttonContainer"></div>
    </div><br />
    <button onclick="selRow()">see</button>
    <button onclick="Filter1()">OrderID", '<', "10250</button>
    <button onclick="Filter2()">OrderID", '<', "10500</button>
    <button onclick="Filter4()">4</button>

    <button onclick="FilterClear()">FilterClear</button>

    <div id="grid"></div>
    <span>Futer</span>
</body>
</html>
